//basics
html, body {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    background: url('../img/pattern_jelen.png') center repeat;
}

// Main content
header, footer {
    height: $banner_height;
    line-height: $banner_height;
    padding: 0 $padding;
    width: calc(100% - (#{$padding} * 2));
    background-color: rgba(255, 255, 255, 0.1);
    color: #eeeeee;
}

header {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        justify-content: flex-start;
        margin: 50px 0;
    }

    .text {
        width: 250px;
        margin-right: $padding;
        color: #eeeeee;

        p {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: $padding;
            margin-right: 0;
            width: calc(100% - (#{$padding} * 2));
            padding: 0 $padding;
        }

        @media screen and (min-width: 768px) and (max-width: 1023px) {
            margin: $padding 0;
        }

        @media screen and (min-width: 1024px) and (max-width: 1099px) {
            margin-top: $padding;
            margin-right: 0;
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
            width: calc(100% - (#{$padding} * 2));
            max-width: 800px;

            p {
                max-width: 45%;
                margin-bottom: 0;
            }

            #form {
                width: 35%;
            }
        }
    }

    #form {
        display: flex;
        flex-direction: column;

        input {
            height: 25px;
            line-height: 25px;
            border: 1px solid #aaaaaa;
            border-radius: 3px;

            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        .save {
            margin-top: 50px;
            text-transform: uppercase;
            text-align: center;
            text-decoration: none;
            font-weight: bold;
            color: #5cb85c;
            height: 25px;
            line-height: 25px;
            padding: 0 10px;
            border: 2px solid #5cb85c;
            border-radius: 3px;
            transition: all ease-in-out .25s;
            &:hover {
                background-color: #5cb85c;
                color: #ffffff;
            }
        }
    }

    #fractal {
        width: $canvas_dim;
        height: $canvas_dim;
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);

        @media screen and (max-width: 1023px) {
            width: calc(100% - (#{$padding} * 2));
            margin: $padding;
            height: auto;
        }

        @media screen and (min-width: 1024px) and (max-width: 1099px) {
            margin: $padding 0;
        }
    }
}

footer {
    box-shadow: 0 -3px 7px rgba(0, 0, 0, 0.5);

    a {
        color: #ffffff;
        text-decoration: none;
        transition: all ease-in-out .25s;

        &:hover {
            color: #ff0000;
        }
    }
}

code, samp {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    background-color: #dddddd;
    padding: 1px;
    border-radius: 3px;
}

a {
    color: #ff0000;
    text-decoration: none;
    transition: all ease-in-out .25s;

    &:hover {
        color: #ffcaca;
    }
}